@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;900&family=Original+Surfer&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bkg-color: #1d2630;
  --bkg-item-color: #293542;
  --interior-text-color: #596b81;
  --color-1: #53dcee;
  --color-2: hsl(286, 82%, 63%);
  --color-3: hsl(78, 82%, 63%);
  --color-4: hsl(335, 82%, 63%);
  --color-5: hsl(172, 82%, 63%);
  --color-6: hsl(56, 82%, 63%);
  --color-7: hsl(263, 82%, 63%);
  --color-8: hsl(209, 82%, 63%);
}

body {
  background-color: var(--bkg-color);
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

a {
  text-decoration: none;
}

.header {
  margin-bottom: 5rem;
}

.title-page {
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 0;
}

.title-page span {
  font-size: 2rem;
  font-weight: 200;
  position: relative;
  top: 16px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.title-section {
  color: var(--bkg-color);
  border-radius: 5px;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 7rem;
  text-align: center;
  margin: 2rem 0;
  padding: 1rem 0;
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}
.color-5 {
  background-color: var(--color-5);
}
.color-6 {
  background-color: var(--color-6);
}

.item {
  background-color: var(--bkg-item-color);
  border-radius: 5px;
  padding: 1.9rem;
  cursor: pointer;
}

.item-link {
  color: #fff;
}

.item p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.title-item {
  color: #fff;
  font-size: 1.8rem;
  border-bottom: 1px dotted var(--interior-text-color);
  padding-bottom: 0.8rem;
  margin-top: 0.2rem;
}

/* .title-item:hover {
} */

.subtitle-item {
  color: var(--interior-text-color);
  font-size: 1.3rem;
  font-weight: 400;
}

.footer {
  background-color: var(--bkg-item-color);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
